<%= form_for(@matching) do |f| %>
  <% if @matching.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@matching.errors.count, "error") %> prohibited this matching from being saved:</h2>

      <ul>
      <% @matching.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
