.container {
  width: 710px;
}

.error {
  color: #ff0000;
}

#logo {
  font-size: 32px;
}

body {
  font-family: verdana, sans-serif }

header {
  text-align: left;
  width: 100%;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
}

section h1 {
  font-size: 200%;
}

section#audits {
  float: right;
}

section#matching {
  float: left;
}

section#bid {
  float: left;
}
section#ask {
  float: right;
}

h2 { font-size: 150%; }

table { table-layout: fixed;
}
th { text-align: center;
}
td { text-align: right;
  font-weight: bold;
  font-size: 125%;
}

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

header nav {
  float: left;
}

header nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

header nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  color: #09c;
}

header nav ul li a:visited {
  color: #09c;
}

header nav ul li a:hover {
  text-decoration: underline;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

.bid {
  float: left;
}

.offer {
  float: right;
}

#audit_plain {
  background-color: #ffffff;
}

#audit_shaded {
  background-color: #cccccc;
}

.open_listing {
  background-color: #ff3300;
  border-left-color: #ff6633;
  border-right-color: #ff6633;
}

.closed_listing {
  background-color: #99ff66;
  border-left-color: #99ff66;
  border-right-color: #99ff66;
}

.partial_listing {
  background-color: #ffff66;
  border-left-color: #ffff66;
  border-right-color: #ffff66;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

footer {
  clear: both;
  width: 100%;
  display: block;
  text-align: center;
}

footer nav {
  text-align: center;
}

footer nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

footer nav ul {
  margin: 0;
  padding: 0;
}

footer nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

footer nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

footer nav ul li a:visited {
  color: #09c;
}

footer nav ul li a:hover {
  text-decoration: underline;
}

